<div class="panel panel-{{ component.theme }}" id="formio-panel-{{ component.key }}">
  <div class="pull-right btn-group" ng-if="component.collapsible">
    <a href class="btn btn-link" ng-click="component.collapsed = !component.collapsed">
      <i class="fa fa-lg" ng-class="component.collapsed ? 'fa-angle-double-down' : 'fa-angle-double-up'"></i>
    </a>
  </div>
  <div ng-if="component.title" class="panel-heading">
    <h3 class="panel-title">
      {{ component.title | formioTranslate:null:options.building }}
      <formio-component-tooltip></formio-component-tooltip>
    </h3>
  </div>
  <div class="panel-body" uib-collapse="component.collapsed">
    <formio-component
      ng-repeat="_component in component.components track by $index"
      component="_component"
      data="data"
      formio="formio"
      submission="submission"
      hide-components="hideComponents"
      ng-if="options.building ? '::true' : isVisible(_component, data, form)"
      read-only="isDisabled(_component, data)"
      form-name="formName"
      grid-row="gridRow"
      grid-col="gridCol"
      options="options"
    ></formio-component>
  </div>
</div>
